.tdjs{
    font-size: 150%;
    color: #23d5ab;
}
#tdjsX{
    width: 216px;
}
#tdjsY{
    width: 216px;
}
#tdjsR{
    width: 216px;
}
#tdjsCT{
    width: 216px;
}
#tdjsET{
    width: 216px;
}
#tdjsRS{
    width: 216px;
}